<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <title>Ticetac</title>
</head>

<body>


    <!-- HEADER -->
    <%- include('header'); %>

        <!-- GRID -->

        <div class="container ">

            <div class="row">

                <div class="input-group offset-1 col-12 mb-3">
                    <h4 style="color:white"> Ticket available on :
                        <%=date%>
                    </h4>
                </div>
                <div class="d-flex justify-content-center" style="width:100%">
                    <ul class="list-group align-items-center col-12 " style="list-style-type: none ">

                        <%for(var i=0;i<train.length;i++){ %>

                            <li class="list-group-item d-flex justify-content-between align-items-center mb-3 " style="width:80% ">
                                <span class="font-weight-bold "><%=train[i].departure%> / <%=train[i].arrival%></span>
                                <span class="departure ">Train departure at : <%=train[i].departureTime%></span>
                                <div class="p-1 ">
                                    <span class="font-weight-bold "> <%=train[i].price%>€</span>
                                    <a href="/mytickets?id=<%=train[i]._id%>"><span class="btn btn-danger ml-3">Ok</span> </a>
                                </div>
                            </li>
                            <%}%>

                    </ul>
                </div>

            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="./javascripts/script.js"></script>
</body>

</html>